:local(.category_nav) {
	width: 100%;
	text-align: center;
}

:local(.category_nav_item) {
	box-sizing: border-box;
	width: 25%;
	float: left;
	padding: .5rem 0;
	background-color: #FFF;
	text-align: center;
}

:local(.category_nav_item:not(:first-child)) {
	border-left: solid 1px #e5e5e5;
}

:local(.category_nav_item img) {
	height: 1rem;
	width: auto;
	display: inline-block;
	margin-bottom: .1rem;
}
